/* Define the custom font */
@font-face {
    font-family: 'UnitFont';
    src: url('../fonts/unit-webfont.woff2') format('woff2'),
         url('../fonts/unit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font globally */
body {
    font-family: 'UnitFont', sans-serif;
}