/* Define the custom font */
@font-face {
    font-family: 'UnitFontHeader';
    src: url('../fonts/UNITFont.woff2') format('woff2'),
         url('../fonts/UNITFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UnitFont';
    src: url('../fonts/graphik-regular-desktop.woff2') format('woff2'),
         url('../fonts/graphik-regular-desktop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font globally */
body {
    font-family: 'UnitFont', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, strong {
    font-family: 'UnitFontHeader', sans-serif;
}